* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select {
  font-family: "Montserrat", sans-serif;
  color: #a6afc0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  min-height: 100vh;
  padding-bottom: 60px;
}

ul {
  list-style: none;
}
